@page "/"
@using hoikun.Data
@using hoikun.Enums
@using hoikun.Services
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Authorization

@inject ApplicationDbContext dbContext
@inject AppointmentService AppointmentService

<div class="card cw-480">
    <EditForm Model="@Data"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit"
              Context="EditFormContext">
        <DataAnnotationsValidator />
        <div class="card-header text-center py-3">
            <h4>Register to DevExpress</h4>
            <p class="tm-8 mb-0 fw-normal fs-825">
                Create a new account to see it in action
            </p>
        </div>
        <div class="card-body">

            <p>@UserStateService.Username</p>
            <p>@UserStateService.Email</p>
            <DxFormLayout>
                <DxFormLayoutItem ColSpanMd="12">
                    <label for="miPhone" class="d-none">Phone Number</label>
                    <DxMaskedInput @bind-Value="@Data.Phone"
                                   NullText="Phone Number"
                                   Mask="@PhoneMask"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   InputId="miPhone" />
                    <div class="text-danger">
                        <ValidationMessage For="@(() => Data.Phone)" />
                    </div>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxButton CssClass="w-100"
                              RenderStyle="ButtonRenderStyle.Primary"
                              SubmitFormOnClick="true"
                              Text="Register" />
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <div class="text-center pt-2">
                        <div class="tm-8">
                            Already have an account?
                        </div>
                        <DxButton RenderStyle="ButtonRenderStyle.Link"
                                  Text="Login"
                                  Click="GotoLoginForm" />
                    </div>
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </EditForm>
</div>
<p class="tm-8 cw-480 mt-2">
    @FormSubmitResult
</p>


@code {
    [Parameter]
    public SizeMode SizeMode { get; set; }
    [Parameter]
    public EventCallback GotoLoginForm { get; set; }
    string FormSubmitResult = "";
    User Data { get; set; } = new User();
    string PhoneMask { get; set; } = "(999)0000-0000";

    async Task GotoLoginFormClick()
    {
        FormSubmitResult = "";
        await GotoLoginForm.InvokeAsync();
    }
    void HandleValidSubmit()
    {
        FormSubmitResult = "You have been registred successully.";
    }
    void HandleInvalidSubmit()
    {
        FormSubmitResult = "";
    }

    public class Register
    {
        List<Children> Children { get; set; } = new List<Children>();

        List<EmergencyContact> Contacts { get; set; } = new List<EmergencyContact>();
    }
}
